<!--The stimulus data is left in the drop down menu. Add the data controller actions-->
<!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-50 w-full" data-controller="navbar">
  <nav class="relative flex justify-center items-center bg-gray-900 py-4 h-20 w-full">
    <div class="flex justify-evenly items-center w-full lg:max-w-5xl">
      <!-- //? Left section links home -->
      <div class="flex justify-center items-center">
        <%= link_to root_path do %>
          <span class="w-1/2 md:w-4/6 lg:w-full text-2xl font-extrabold text-gray-100">Speed Shop Garage</span>
        <% end %>
      </div>
      <!-- //? Right section Page Links -->
      <div class="flex flex-grow justify-end items-center">
        <ul class="flex space-x-4 text-gray-100">
          <li class="hidden md:flex"><%= link_to "Shop Owners", root_path %></li>
          <li class="hidden md:flex"><%= link_to "Car Owners", root_path %></li>
        </ul>
        <button class="md:hidden pb-1 w-6" role="button" aria-label="menu" data-action="click->navbar#toggleMenu">&#9776</button>
      </div>
    </div>
  </nav>
  <!-- //? Dropdown menu - mobile -->
  <nav class="hidden bg-zinc-800 text-gray-100 absolute w-2/3 right-0 overflow-y-auto rounded-b-sm" data-navbar-target="mobileMenu">
    <ul class="flex flex-col py-2 px-3">
      <%= link_to root_path do %>
        <li class="flex border p-2 my-1 rounded-sm">Season 8</li>
      <% end %>
      <%= link_to root_path + "#contact" do %>
        <li class="flex border p-2 my-1 rounded-sm">Sign In</li>
      <% end %>
    </ul>
  </nav>
</div>